<article>
  <header>
    <h1>Authors</h1>
  </header>

  <ul>
    <% @authors.each do |author| %>
      <li><%= link_to "#{author.full_name}", author_path(author.id) %></li>
    <% end %>
  </ul>
</article>

<footer>
  <%= link_to "Add an author", "/authors/new"%>
</footer>
