<article>
    <h1>Books</h1>

  <main>
    <ul>
      <% @books.each do |book| %>
      <li>
        <%= link_to (image_tag book.cover_img, size: "180x268"), book_path(book.id) %>
        <!-- <%= image_tag book.cover_img, size: "90x134" %> -->
      </li>
      <% end %>
    </ul>
  </main>
</article>

<footer>
  <%= link_to "Add New Book", new_book_path, class: "button" %>
</footer>
