// Place all the styles related to the authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";
@import "general";



* {
  box-sizing: border-box;;
}

a {
  text-decoration: none;
  &:link,
  &:visited {
    color: $primary-link-color;
  }
  &:hover,
  &:active {
    color: $secondary-link-color;
    background-color: $secondary-background-color;
  }
}


header {
  background-color: $secondary-background-color;
  padding: 10px 25px;

}



.authors,
.author,
.books,
.book {
  header {
    background-color: transparent;
  }

  ul {
    list-style-type: disc;
    margin: auto;
    padding: auto;
  }


}
