// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

ul { /* .books */

  /* =================================
  Primary text color
  ==================================== */
  color: $primary-text-color;

  /* =================================
  Background style
  ==================================== */


  background-image: url("background.jpg");
  font-family: "Helvetica Neue", Helvetica, Arial;
  line-height: 1.6;
  font-size: 14px;

  /* =================================
  Box sizing
==================================== */
display: inline-flex;
flex-direction: row;



* box-sizing: border-box;


}
